/* body  */

body{
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-weight: 700 !important;
}

h2{
  font-weight: 600 !important;

}

p.sousTitre{
  font-size: 1.3rem;
}


/* Barre de navigation */
nav{
  background-color: white !important;
  /* font-weight: 600px !important; */
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2) !important;
}
.nav-link {
  padding-right: 50px !important;
  font-weight: bold;
  /* font-weight: 600px !important; */
}

.navbar-brand{
  padding-left: 5px;
  font-weight: bold;
}


/* section 1 accueil */

.accueil{
  background-image: url('/public/assets/fond-elegant-gris-espace-copie.jpg');
  background-position: center;
  background-size: cover;
  min-height: 90vh;
}

/* section 2 */
.presentation p {
  text-align: justify;
}
/* bouton */

.btn-accueil{
  background-color: #7843e9;
  padding: 10px 100px;
}

.btn-accueil:hover{
  background-color: #7843e9;
  letter-spacing: 0.5rem;
}

/*Images*/

.maPhoto{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 10px solid #ffff;
  margin-left: 50px !important;
}

/* Icones */

.dash{
  color: #7843e9;
  margin-top: -10px;
}

/* Liens */

.lienProfil{
  text-decoration: none;
  color: #7843e9;

}